body {
  background-color: #ffffff;
  color: #434455;
}
ul {
  list-style: none;
}
/* main-text-color #2E2F42 */
/* hero-footer-background-color #2E2F42 */
/* secondury-text-color #434455 */
/* accent-color #4D5AE5 */
/* header-fill-color #FFFFFF */
/* headline-text-color #FFFFFF */
/* secodury-baclground-color #F4F4FD */
/* selection-color #4D5AE5 10% */

/* border-color #E7E9FC */
/* studio-footer-color #F4F4FD  */
